@model IEnumerable<KENTAS.Models.Mission>

@{
    ViewBag.Title = "Misyonumuz";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}



<table class="table table-bordered table-striped table-responsive-sm">
    <tr>
        <th class="text-center">
            MİSYON AÇIKLAMA
        </th>
        <th class="text-center">
            İŞLEMLER
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.missionDesc)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.missionId }, new { @class = "btn btn-sm btn-success" }) 
        </td>
    </tr>
}

</table>
