@{
    var db = new KENTAS.Models.Entities();
    var data = db.Missions.FirstOrDefault();
}


<div class="mt-2 visElipsis" style="color: white; font-size: unset; line-height: normal">@Html.Raw(data.missionDesc)</div>
