@{
    var db = new KENTAS.Models.Entities();
    var data = db.Visions.FirstOrDefault();
}

<div class="mt-2 visElipsis" style="color: white; font-size: unset; line-height: normal">@Html.Raw(data.visionDesc) </div>
