@model IEnumerable<KENTAS.Models.HumanResource>

@{
    ViewBag.Title = "İnsan Kaynakları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style type="text/css">
        @@media only screen and (min-width: 375px) {
            .col-xl-4 /*Nav Logolar*/ {
                margin-bottom: 10px;
                justify-content: space-around;
            }

            .justify-content-center {
                margin-top: 8px;
            }
        }
    </style>
}

<div class="container bgwite mt-4 radius_contains" style="background-color:white;">

    <div class="row p-1 mb-3">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 radius_contains p-3" style="background-color:#00a0af;">
            <h6 class="pl-3 my-auto" style="color:white">İNSAN KAYNAKLARI</h6>
        </div>

    </div>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-12 text-center"><img class="borderDemo p-2" src="@Url.Content(@item.HumanResourcePhoto)" alt="humanresource" style="width:50%; " /></div>

            <div class="col-md-12 text-center" style="color:midnightblue; font-size:large; font-weight:bold;"> @Html.DisplayFor(modelItem => item.HumanResourceTitle)</div>

            <div class="col-md-12 mb-5 text-center">
                <div class="row">
             
                    <div class="col-md-12" style="color:midnightblue; font-size:large; font-weight:normal;">@Html.Raw(item.HumanResourceDescription)</div>
                </div>
            </div>
        }

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#navbarDropdown').addClass('active');
    </script>
}