@model IEnumerable<KENTAS.Models.PhotoGalery>

@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" rel="stylesheet" />*@
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        .filter_btn {
            display: block;
            list-style: none;
            width: 100%;
            text-align: center;
        }

            .filter_btn li {
                display: inline-block;
            }

        .my_btn {
            text-align: center;
            height: 300px;
            width: 370px;
            display: flex;
            background-size: cover !important;
            color: #fff;
            text-shadow: 1px 1px black;
            text-align: center;
            flex-direction: column-reverse;
            
        }

        .mr-3, .mx-3 {
            margin-right: 21px !important;
        }

        @@media only screen and (min-width: 375px) {
            .col-xl-4 /*Nav Logolar*/ {
                margin-bottom: 10px;
                justify-content: space-around;
            }

            .justify-content-center {
                margin-top: 8px;
            }
        }

        @@media only screen and (min-width: 420px)  {
            .my_btn {
                height: 325px;
                width: 350px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .title{
            margin-left: 0.3rem !important;
        }

        .tz-gallery img {
            border-radius: 5px;
            object-fit: cover;
        }
    </style>
}

<div class="container bgwhite mt-4 ">

    <div class="row p-1">

        <div class="col-sm-12 title radius_contains p-3" style="background-color:#00a0af; background-image:url(/Content/images/g_bg.png)">
            <h6 class="pl-3 my-auto" style="color:white">GALERİ</h6>
        </div>

    </div>

    <h6 class="my-auto p-2" style="color:midnightblue">KENTAŞ FOTOĞRAF GALERİ</h6>

    <div class="tz-gallery pt-2" style="height:800px; overflow-x:hidden;">


        <div class="row ">
            <div class="mbr-gallery-filter container gallery-filter-active p-0">
                <ul buttons="0" class="filter_btn p-0">
                    @using (KENTAS.Models.Entities ct = new KENTAS.Models.Entities())
                    {
                        var currentData = ct.GaleriBasliklaris.ToList();

                        foreach (var item in currentData)
                        {
                            var _bgImg = item.PhotoGaleries.Count() == 0 ? "/Uploads/PhotoGalery/ArkaPlan.jpg" : item.PhotoGaleries.FirstOrDefault().photoGaleryImage.Replace("~", "..");
                            <li><a style="background: url('@_bgImg') center center no-repeat" class="btn btn-outline-info my_btn mb-3" title="@item.SubTitle" href="@Url.Action("ShowDetails","Galeri")?h=@item.Id">@item.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>

    </div>

</div>

@section scripts{
   

    <script type="text/javascript">
        $((_$) => {
           
        });
    </script>
}

